
body{
    margin: 0;
    padding: 0;
    width: 100%;
}


.first{
    width: 100%;
    height: 30px;
    background-color: #1095F4;
    color: white;
    /* padding: 0px; */
    padding-top: 5px;

}
.tel-mail{
    padding-left: 10px;
    font-family: sans-serif;
}
.mail{
    padding-left: 15px;
    font-family:sans-serif ;
    font-size: 12px;
}

.icons-right{
    float: right;
    padding-right: 68px;
}
.mq-contact{
   
    display: none;
}
.g i{
    background-color: red;
    color: #ffff;
    width: 19px;
    height: 19px;
    
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: -1px;
    padding-left: 4px;
    

}
.fb i{
    background-color:#1293F8 ;
    color: white;
    width: 19px;
    height: 19px;
    
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: -1px;
    padding-left: 4px;

}
.twi i{

    width: 19px;
    height: 19px;
    
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: -1px;
    padding-left: 4px;

    
}
.clock i{
    width: 19px;
    height: 19px;
    background-color: red;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: -1px;
    padding-left: 6px;

}
.wifi i{
    width: 19px;
    height: 19px;
    
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: -1px;
    padding-left: 4px;
    background-color: orangered;
}

.ul{
    list-style: none;
    padding-right: 58px;
    float: right;
    position: relative;
    /* bottom: 68px; */
    top: -69px;
    /* margin-top: -48px; */
    /* font-size: 2px; */
    padding-top: 0px;
    font-family: sans-serif;
}
.han{
    display: none;
}
.home{
    display: inline;
    border: 0px;
    width: 101px;
    height: 50px;
    padding: 0px;
    font-size: 11px;
}

.house{
    border: 0px;
   
    height: 50px;
    padding: 5px;
}
.img1{
    padding-left:36px;
    
}
.house:hover{

    background-color: #1293F8;
}
.main{
    width: 100%;
    margin: 0px;
    
}

.underline{
    width: 623px;
    height: 2px;
    background-color: #c3c4c1;
    margin: 0px;
}
.wonders{
    width: 100%;
    margin: 0px;
    height: 243px;
    background-image: url(bgwonders.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
}
.edu{
    position: relative;
    /* top: 27px; */
    right: 86px;
    /* left: 603px; */
    float: right;
    font-size: 33px;
    font-family: sans-serif;
    text-align: right;
    /* right: 47px; */
    /* left: 726px; */
    /* margin-left: -366px; */
    /* margin-right: -14px; */
    /* padding-right: 2px; */
    width: 100%;
}
.edu1{
    text-align: right;
    /* left: 683px; */
    float: right;
    right: 85px;
    font-family: sans-serif;
    font-size: 30px;
    /* bottom: 17px; */
    position: relative;
    /* top: 23px; */
    /* margin-left: -366px; */
    /* margin-right: -14px; */
    padding-right: 2px;
}
.button{
    padding-left: 84%;
    /* padding-bottom: 40px; */
    margin-top: -118px;
    padding-bottom: 74px;
}
.btn{
    background: #0E96F6;
    width: 136px;
    height: 40px;
    border: none;
    color: #fff;
    font-family: sans-serif;
}

/* small blue after bg wonder */
.middle-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}
.container{
    width: 33.3%;
    height: 200px;
    background-color: #1095F4;
    color: #fff;
}
.icons{
    position: relative;
    padding: 30px 216px;
    color: #fff;
    font-size: 20px;
}
.trust{
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
}
.para{
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 29px;
    color: #fff;
}
/* our features */
.our{
    width: 100%;
    margin-top: 32px;
}
.ofc{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    text-align: center;
}
.under{
    margin-top: 20px;
    width: 116px;
    margin-left: 46%;
    height: 2px;
    background: grey;
}
.under1{
    margin-top: 13px;
    width: 67px;
    margin-left: 48%;
    height: 2px;
    background: grey;
}

/*our featues flex*/
.outer-flex{
    display: flex;
    width: 100%;
    flex-direction: row;

    flex-wrap: wrap;

}
.box1{
    width: 25%;
    height: 470px;
    background-color: #e7e7e7;
    margin-left: 84px;
    position: relative;
    margin-top: 40px;
    box-shadow: -2px 2px 6px ;
}
.che{
    width: 100%;


}
.che1{
    width: 100%;
    height: 249px;

}
.che2{
    width: 100%;
    height: 249px;
}
.jacob{
    left: 4px;
    position: absolute;
    width: 31%;
    top: 183px;
    border: 3px solid #ffff;
    /* margin-top: -49px; */
    border-radius: 50%;
    /* margin-left: 5px; */

}
.auth i{
    color: #1f1f1f;
}
.auth{
    font-family: sans-serif;
    padding-left: 114px;
    /* margin-top: -47px; */
    /* bottom: 2; */
    top: 259px;
    color: #1293F8;
    position: absolute;
}
.word{
    font-family: sans-serif;
    color: #151515;
    padding-top: 43px;
    padding-left: 30px;
    font-weight: 500;
}

.cont{
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 21px;
    padding-left: 30px;

}
.btn1{
    background: #0E96F6;
    width: 136px;
    height: 40px;
    border: none;
    color: #fff;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 30px;
}

/* abt uni */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.abt{
    background-color: #242424;
    width: 100%;
   padding-top: 30px; 
   margin-top: 45px;
   height: 500px;
}
.uni{
    color: #ffff;
    font-family: sans-serif;
    position: relative;
    top: 21px;
    bottom: 7px;
    text-align: center;
    /* padding-left: 583px; */
    /* padding-top: 61px; */
    font-size: 27px;
}
.g1{
    width: 105px;
    margin-top: 32px;
    margin-left: 626px;
    height: 2px;
    background: gray;
}
.g2{
    width: 57px;
    height: 2px;
    background: gray;
    margin-top: 8px;
    margin-left: 652px;
}
.lor{
    margin-top: 53px;
    color: #fff;
    text-align: center;
    /* margin-left: 435px; */
    font-family: sans-serif;
}
.identical{
    width: 18%;
    height: 24%;
    position: relative;
    margin-top: 66px;
    margin-left: 76px;
    background-color: #101010;
}

.sub{
    font-family: sans-serif;
    color: #c2bcbc;
    font-size: 19px;
    position: relative;
    top: 12px;
    left: 22px;
    /* bottom: 16px; */
    /* right: 60px;*/
}
.num{
    position: relative;
    font-family: sans-serif;
    color: #c2bcbc;
    font-size: 32px;
    /* padding-left: 19px; */
    left: 18px;
    top: 23px;
}
.pic{
    position: relative;
    left: 166px;
    bottom:22px;
    width: 58px;
}
.fina{
    width: 100%;
    background-color: #eeee;

}
.final-teach{
    margin-top: 3px; 
    padding-top: 20;
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;

}
.lore{
    margin-top: 53px;
    color: #313131;
    margin-left: 435px;
    font-family: sans-serif;
}
.teachersfinal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    

}
.ft1{
    width: 26%;
    height: 432px;
    margin-left: 66px;
    margin-top: 83px;
    background: #fff;
}
.sir{
    width: 100%;
}
.fp{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 21px;
    font-family: sans-serif;

}
.fof{
    margin-top: 4px;
    margin-left: 20px;
    font-size: 14px;
    font-family: sans-serif;
}
@media only screen and (max-width: 992px){
    body{
        width: 100%;
    }
    .ul{
        display: none;

    }
    .han{
        display: block;
        color: black;
        right: 71px;
        position: relative;
        text-align: right;
        margin-top: -49px;
    }
    .underline{
        display: none;
    }
    .edu{
        position: relative;
    top: 27px;
    text-align: right;
    right: 47px;
    /* left: 726px; */
    /* margin-left: -366px; */
    /* margin-right: -14px; */
    /* padding-right: 2px; */
    width: 100%;
    }
    .edu1{
        text-align: right;
    /* left: 683px; */
    right: 47px;
    bottom: 0px;
    position: relative;
    top: 23px;
    /* margin-left: -366px; */
    /* margin-right: -14px; */
    padding-right: 2px; 
    font-family: sans-serif;
    font-size: 32px;
    }
    .btn{
        margin-left: -33px;
    }
    .middle-box{
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
    .container{
        width: 100%;
    }
    .icons{
        padding: 26px;
        text-align: center;

    }
    .outer-flex{
        flex-direction: column;
        align-items: center;
    }
    .box1{
        width: 33.3%;
        
        /* align-items: center;*/
    }
    .auth{
        margin-left: 0px;
        margin-top: 0px;
    }
    .word{
        padding-top: 53px;
    }
    .abt{
        width: 100%;
    }
    .uni{
        position: relative;
        text-align: center;
    }
    .g1{
        display: none;
    }
    .g2{
        display: none;
    }
    .lor{
        margin-top: 53px;
        color: #fff;
        text-align: center; 
        /* margin-left: 435px; */
        font-family: sans-serif;
    }
    .wrapper{
        flex-direction: row;
    }
    .identical{
        width: 191px;
        margin-left: 44px;
    }
    .pic{
        position: relative;
        left: 125px;
    }
    .final-teach{
        
        font-family: sans-serif;
    font-size: 27px;
    color: #343333;
    /* margin-left: 600px; */
    margin-top: 1px;
    padding-top: 51px;
    }
    .lore{
        position: relative;
        right: 190px;
    }
    .teachersfinal{
        flex-direction: column;
    /* padding-left: 320px; */
    position: relative;
    /* left: 56px; */
    align-items: center;
    }
    
}
@media only screen and (max-width: 768px){
    .mail{
        display: none;
    }
    .mq-contact{
        display: block;
        color: #fff;
        position: relative;
        top: 100px;
        text-align: right;
        bottom: 15px;
        right: 51px;
        /* left: 590px; */
        /* padding-left: 14px; */
        margin-top: -7px;

    }
    .icons-right{
        display: none;
    }

}